
<mat-card class="mat-card-form margin-top-10">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
        <span ng-hide="true">{{setInvalidForm(isSaving)}}</span>
        <div id="myComorbilityLabel"  class="form-title primary-color"
             fxHide.xs="true">
            {{title}}
        </div>
        <mat-card-content fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between none" fxLayoutGap="20px" fxLayoutGap.xs="0px">
            <div fxLayout="column" fxLayoutAlign="space-evenly stretch" fxFlex>
                <mat-form-field appearance="outline">
                    <mat-label >Descripción</mat-label>
                    <input matInput type="text" name="description"
                           formControlName="description" required>
                    <mat-hint
                        *ngIf="editForm.get('description').invalid && (editForm.get('description').dirty || editForm.get('description').touched)"
                        class="form-text text-danger">
                    <span *ngIf="editForm.get('description').errors.required"
                          jhiTranslate="entity.validation.required">
                        This field is required.
                    </span>
                    </mat-hint>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label >Código</mat-label>
                    <input matInput type="text" name="code"
                           formControlName="code">
                    <mat-hint
                        *ngIf="editForm.get('code').invalid && (editForm.get('code').dirty || editForm.get('code').touched)"
                        class="form-text text-danger">
                    <span *ngIf="editForm.get('code').errors.required"
                          jhiTranslate="entity.validation.required">
                        This field is required.
                    </span>
                    </mat-hint>
                </mat-form-field>

            </div>
            <div fxLayout="column" fxFlex>
                <mat-form-field appearance="outline">
                    <mat-label for="field_rehabilitationCenter">Centro de rehabilitación</mat-label>
                    <mat-select id="field_rehabilitationCenter" name="rehabilitationCenter" formControlName="rehabilitationCenterId" required>
                        <mat-option  *ngFor="let rehabilitationCenterOption of rehabilitationcenters; trackBy: trackRehabilitationCenterById" [value]="rehabilitationCenterOption.id">
                            {{rehabilitationCenterOption.name}}
                        </mat-option>
                    </mat-select>
                    <mat-hint
                        *ngIf="editForm.get('rehabilitationCenterId').invalid && (editForm.get('rehabilitationCenterId').dirty || editForm.get('rehabilitationCenterId').touched)"
                        class="form-text text-danger">
                        <span *ngIf="editForm.get('rehabilitationCenterId').errors.required"
                              jhiTranslate="entity.validation.required">
                        This field is required.
                    </span>
                    </mat-hint>
                </mat-form-field>

            </div>
        </mat-card-content>

        <mat-card-actions fxLayout="row" fxLayoutAlign="end center" fxHide.xs="true">
            <button mat-raised-button (click)="previousState()">
                <span jhiTranslate="entity.action.cancel">Cancel</span>
            </button>
            <button mat-raised-button color="accent" type="submit" [disabled]="editForm.invalid || isSaving" >
                <span jhiTranslate="entity.action.save"> Save</span>
            </button>
        </mat-card-actions>
        <button mat-raised-button color="accent" type="submit" [disabled]="editForm.invalid || isSaving" fxFill fxHide.xl="true" fxHide.lg="true" fxHide.md="true"  fxHide.sm="true">
            <span jhiTranslate="entity.action.save"> Save</span>
        </button>
    </form>
</mat-card>
