<mat-card class="mat-card-form margin-top-10">
    <form name="editForm" role="form" novalidate  [formGroup]="editForm">
        <span ng-hide="true">{{setInvalidForm(isSaving)}}</span>
        <div id="myUserLabel"  class="form-title primary-color"
             fxHide.xs="true">
            {{title}}
        </div>
        <mat-card-content fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between none" fxLayoutGap="20px" fxLayoutGap.xs="0px">
            <div fxLayout="column" fxLayoutAlign="space-evenly stretch" fxFlex>
                <mat-form-field appearance="outline">
                    <mat-label jhiTranslate="userManagement.login">Login</mat-label>
                    <input matInput type="text" name="login"
                           formControlName="login">
                    <mat-hint
                        *ngIf="editForm.get('login').invalid && (editForm.get('login').dirty || editForm.get('login').touched)"
                        class="form-text text-danger">
                    <span *ngIf="editForm.get('login').errors.required"
                          jhiTranslate="entity.validation.required">
                        This field is required.
                    </span>
                        <span
                            *ngIf="editForm.get('login').errors.maxlength" jhiTranslate="entity.validation.maxlength"
                            [translateValues]="{max: 50}">
                        This field cannot be longer than 50 characters.
                    </span>
                        <span
                            *ngIf="editForm.get('login').errors.pattern">
                        Este campo solo puede contener letras, dígitos y direcciones de correo electrónico.
                    </span>
                    </mat-hint>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label jhiTranslate="userManagement.firstName">First Name</mat-label>
                    <input matInput type="text" name="firstName"
                           formControlName="firstName">
                    <mat-hint
                        *ngIf="editForm.get('firstName').invalid && (editForm.get('firstName').dirty || editForm.get('firstName').touched)"
                        class="form-text text-danger">
                        <span *ngIf="editForm.get('firstName').errors.maxlength"
                              jhiTranslate="entity.validation.maxlength"
                              [translateValues]="{max: 50}">
                            This field cannot be longer than 50 characters.
                        </span>
                        <span *ngIf="editForm.get('lastName').errors.required"
                              jhiTranslate="entity.validation.required">
                        This field is required.
                    </span>
                    </mat-hint>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label jhiTranslate="userManagement.lastName">Last Name</mat-label>
                    <input matInput type="text" name="lastName"
                           formControlName="lastName">
                    <mat-hint
                        *ngIf="editForm.get('lastName').invalid && (editForm.get('lastName').dirty || editForm.get('lastName').touched)"
                        class="form-text text-danger">
                    <span *ngIf="editForm.get('lastName').errors.maxlength"
                          jhiTranslate="entity.validation.maxlength"
                          [translateValues]="{max: 50}">
                        This field cannot be longer than 50 characters.
                    </span>
                        <span *ngIf="editForm.get('lastName').errors.required"
                              jhiTranslate="entity.validation.required">
                        This field is required.
                    </span>
                    </mat-hint>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label jhiTranslate="userManagement.email">Email</mat-label>
                    <input matInput type="email" name="email" formControlName="email">
                    <mat-hint
                        *ngIf="editForm.get('email').invalid && (editForm.get('email').dirty || editForm.get('email').touched)"
                        class="form-text text-danger">
                        <span class="form-text text-danger"
                              *ngIf="editForm.get('email').errors.email || editForm.get('email').errors.minlength || editForm.get('email').errors.required || editForm.get('email').errors.maxlength"
                              jhiTranslate="global.messages.validate.email.invalid">
                            Your email is invalid.
                        </span>
                    </mat-hint>
                </mat-form-field>
            </div>
            <div fxLayout="column" fxFlex>
                <!--                <mat-form-field *ngIf="languages && languages.length > 0" appearance="outline">-->
                <!--                    <mat-label jhiTranslate="userManagement.langKey">Lang Key</mat-label>-->
                <!--                    <mat-select id="langKey" name="langKey" formControlName="langKey">-->
                <!--                        <mat-option *ngFor="let language of languages"-->
                <!--                                    [value]="language">{{language | findLanguageFromKey}}>-->
                <!--                            {{language}}-->
                <!--                        </mat-option>-->
                <!--                    </mat-select>-->
                <!--                    <mat-hint-->
                <!--                        *ngIf="editForm.get('langKey').invalid && (editForm.get('langKey').dirty || editForm.get('langKey').touched)"-->
                <!--                        class="form-text text-danger">-->
                <!--                        <span *ngIf="editForm.get('langKey').errors.required"-->
                <!--                              jhiTranslate="entity.validation.required">-->
                <!--                        This field is required.-->
                <!--                    </span>-->
                <!--                    </mat-hint>-->
                <!--                </mat-form-field>-->
                <mat-form-field appearance="outline">
                    <mat-label jhiTranslate="userManagement.profiles">Profiles</mat-label>
                    <mat-select multiple name="authority" formControlName="authorities">
                        <mat-option *ngFor="let authority of authorities" [value]="authority">
                            {{authority}}-> {{getRole(authority)}}
                        </mat-option>
                    </mat-select>
                    <mat-hint
                        *ngIf="editForm.get('authorities').invalid && (editForm.get('authorities').dirty || editForm.get('authorities').touched)"
                        class="form-text text-danger">
                        <span *ngIf="editForm.get('authorities').errors.required"
                              jhiTranslate="entity.validation.required">
                        This field is required.
                    </span>
                    </mat-hint>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label  for="field_rehabilitationCenter">Centro de rehabilitación</mat-label>
                    <mat-select id="field_rehabilitationCenter" name="rehabilitationCenter" formControlName="rehabilitationCenterId">
                        <mat-option  *ngFor="let rehabilitationCenterOption of rehabilitationcenters; trackBy: trackRehabilitationCenterById" [value]="rehabilitationCenterOption.id">
                            {{rehabilitationCenterOption.name}}
                        </mat-option>
                    </mat-select>
                    <mat-hint
                        *ngIf="editForm.get('rehabilitationCenterId').invalid && (editForm.get('rehabilitationCenterId').dirty || editForm.get('rehabilitationCenterId').touched)"
                        class="form-text text-danger">
                        <span *ngIf="editForm.get('rehabilitationCenterId').errors.required"
                              jhiTranslate="entity.validation.required">
                        This field is required.
                    </span>
                    </mat-hint>
                </mat-form-field>
                <mat-slide-toggle  [disabled]="user.id === null" id="activated"
                                   name="activated" formControlName="activated">Activo</mat-slide-toggle>
            </div>
        </mat-card-content>
        <mat-card-actions fxLayout="row" fxLayoutAlign="end center" fxHide.xs="true">
            <button mat-raised-button (click)="previousState()">
                <span jhiTranslate="entity.action.cancel">Cancel</span>
            </button>
            <button mat-raised-button color="accent" (click)="save()" [disabled]="editForm.invalid || isSaving" >
                <span jhiTranslate="entity.action.save"> Save</span>
            </button>
        </mat-card-actions>
        <button mat-raised-button color="accent" (click)="save()" type="submit" [disabled]="editForm.invalid || isSaving" fxFill fxHide.xl="true" fxHide.lg="true" fxHide.md="true"  fxHide.sm="true">
            <span jhiTranslate="entity.action.save"> Save</span>
        </button>
    </form>
</mat-card>
