<mat-card>
    <mat-card-header>
        <mat-card-title>
            <h2 id="page-heading" class="margin-top-20">
            <span class="primary-color table-title">
           <mat-icon (click)="previousState()" class="text-icon pointer">arrow_back</mat-icon>
                {{rehabilitationGroup.name}}</span>
            </h2>
        </mat-card-title>
        <mat-card-subtitle style="margin-left:38px"><span>Creado el {{rehabilitationGroup.creationDate | date}}</span>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content fxLayout="column">
        <h5><mat-icon class="text-icon" style="margin: 20px 10px 20px 16px;">face</mat-icon>Pacientes evaluados:  {{rehabilitationGroup.patients.length}}</h5>
        <!--        <mat-accordion class="example-headers-align">-->
        <!--            <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>-->
        <span class="primary-color margin-left-20" style="font-size: 18px;font-weight:bold;">
                                  Instrumento de panel de datos <mat-icon class="text-icon">equalizer</mat-icon></span>

        <div style="display: block" style="margin-bottom: 20px">
            <canvas baseChart height="100"
                    [datasets]="barChartDataStadistics"
                    [labels]="barChartLabelsStadistics"
                    [options]="barChartOptionsStadistics"
                    [colors]="lineChartColorsStadistics"
                    [legend]="barChartLegendStadistics"
                    [chartType]="barChartTypeStadistics">
            </canvas>
        </div>

        <div style="display: block;margin-top:20px">
                     <span class="primary-color margin-left-20" style="font-size: 18px;font-weight:bold;">
                                  Distribución de eventos por sesión</span>
            <canvas baseChart height="100"
                    [datasets]="barChartDataDistribution"
                    [labels]="barChartLabelsDistribution"
                    [options]="barChartOptionsDistribution"
                    [legend]="barChartLegendDistribution"
                    [chartType]="barChartTypeDistribution"
                    [colors]="lineChartColorsDistribution">
            </canvas>
        </div>
        <div style="display: block;margin-top:20px">
                     <span class="primary-color margin-left-20" style="font-size: 18px;font-weight:bold;">
                                  Distribución de evento por sesiones</span>
            <div style="margin-left: 20px;margin-top: 20px;" fxLayout="column">
                <div>
                    <label id="example-radio-group-label">Seleccione el tipo de evento</label>
                </div>
                <mat-radio-group  aria-labelledby="example-radio-group-label" [(ngModel)]="eventType" (ngModelChange)="selectEventType($event)">
                    <mat-radio-button value="1">Evento mayor</mat-radio-button>
                    <mat-radio-button value="2">Evento menor</mat-radio-button>
                </mat-radio-group>
                <mat-form-field >
                    <mat-label>{{labelEventType}}</mat-label>
                    <mat-select [(ngModel)]="eventPerSessionId" (ngModelChange)="showGraphEventPerSessions($event)">
                        <mat-option
                            *ngFor="let event of graphicEventsPerSessions;let i = index;"
                            [value]="event.id">
                            {{event.description}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <canvas baseChart height="100" *ngIf="displayEventsSessionsGraph"
                    [datasets]="barChartDataEventsPerSessionDistribution"
                    [labels]="barChartEventsPerSessionDistributionLabels"
                    [options]="barChartOptionsEventsPerSessionDistribution"
                    [legend]="barChartEventsPerSessionDistributionLegend"
                    [chartType]="barChartEventsPerSessionDistributionType"
                    [colors]="barChartEventsPerSessionDistributionColors">
            </canvas>
        </div>
        <div style="display: block;margin-top:20px" fxLayout="column">
              <span class="primary-color margin-left-20" style="font-size: 18px;font-weight:bold;">
                                  Distribución de eventos por sesión</span>
            <div style="display: block;" style="margin-left: 20px;margin-top: 20px;">
                <mat-form-field>
                    <mat-label>Seleccionar sesión</mat-label>
                    <mat-select [(ngModel)]="selectedSesion" (ngModelChange)="selectSesion($event)">
                        <mat-option
                            *ngFor="let event of rehabilitationGroup.panelData.distributionMinorEvents;let i = index;"
                            [value]="i">
                            {{i + 1}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div fxLayout="column" fxLayout.xs="column" fxFlex="100">
                <div *ngIf="selectedSesion>=0" fxFlex="100" style="margin-bottom: 20px">
                    <mat-card>
                        <h6>Eventos menores</h6>
                        <jhi-no-content *ngIf="barChartDataSessionMinor.length === 0" [text]="'No ocurrio nigún evento menor'"
                                        [icon]="'arrow_downward'"></jhi-no-content>
                        <canvas *ngIf="barChartDataSessionMinor.length>0" baseChart height="100"
                                [data]="barChartDataSessionMinor"
                                [labels]="barChartLabelsSessionMinor"
                                [options]="barChartOptionsSessionMinor"
                                [legend]="barChartLegendSessionMinor"
                                [chartType]="barChartTypeSessionMinor"
                                [colors]="lineChartColorsSessionMinor">
                        </canvas>
                    </mat-card>
                </div>
                <div *ngIf="selectedSesion>=0" fxFlex="100">
                    <mat-card>
                        <h6>Eventos mayores</h6>
                        <jhi-no-content *ngIf="barChartDataSessionMayor.length === 0" [text]="'No ocurrio nigún evento mayor'"
                                        [icon]="'arrow_upward'"></jhi-no-content>
                        <canvas *ngIf="barChartDataSessionMayor.length>0" baseChart height="100"
                                [data]="barChartDataSessionMayor"
                                [labels]="barChartLabelsSessionMayor"
                                [options]="barChartOptionsSessionMayor"
                                [legend]="barChartLegendSessionMayor"
                                [chartType]="barChartTypeSessionMayor"
                                [colors]="lineChartColorsSessionMayor">
                        </canvas>
                    </mat-card>
                </div>
            </div>
        </div>
    </mat-card-content>
    <!--    <mat-card-actions>-->
    <!--        <button mat-button>LIKE</button>-->
    <!--        <button mat-button>SHARE</button>-->
    <!--    </mat-card-actions>-->
</mat-card>
