<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="comorbiditie">
            <h2><span jhiTranslate="rehabicorApp.comorbiditie.detail.title">Comorbiditie</span> {{comorbiditie.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="rehabicorApp.comorbiditie.description">Description</span></dt>
                <dd>
                    <span>{{comorbiditie.description}}</span>
                </dd>
                <dt><span jhiTranslate="rehabicorApp.comorbiditie.deleted">Deleted</span></dt>
                <dd>
                    <span>{{comorbiditie.deleted}}</span>
                </dd>
                <dt><span jhiTranslate="rehabicorApp.comorbiditie.rehabilitationCenter">Rehabilitation Center</span></dt>
                <dd>
                    <div *ngIf="comorbiditie.rehabilitationCenterId">
                        <a [routerLink]="['/rehabilitation-center', comorbiditie.rehabilitationCenterId, 'view']">{{comorbiditie.rehabilitationCenterId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/comorbiditie', comorbiditie.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
