<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="incomeDiagnosis">
            <h2><span jhiTranslate="rehabicorApp.incomeDiagnosis.detail.title">Income Diagnosis</span> {{incomeDiagnosis.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="rehabicorApp.incomeDiagnosis.description">Description</span></dt>
                <dd>
                    <span>{{incomeDiagnosis.description}}</span>
                </dd>
                <dt><span jhiTranslate="rehabicorApp.incomeDiagnosis.deleted">Deleted</span></dt>
                <dd>
                    <span>{{incomeDiagnosis.deleted}}</span>
                </dd>
                <dt><span jhiTranslate="rehabicorApp.incomeDiagnosis.rehabilitationCenter">Rehabilitation Center</span></dt>
                <dd>
                    <div *ngIf="incomeDiagnosis.rehabilitationCenterId">
                        <a [routerLink]="['/rehabilitation-center', incomeDiagnosis.rehabilitationCenterId, 'view']">{{incomeDiagnosis.rehabilitationCenterId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/income-diagnosis', incomeDiagnosis.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
