<mat-tab-group (selectedIndexChange)="changeRC($event)">
    <mat-tab *ngFor="let rehabilitationCenter of rehabilitationCenters ;trackBy: trackId"
             label="{{rehabilitationCenter.name}}">

        <h2 id="page-heading" class="margin-top-20">
            <span class="primary-color table-title">Dolores agudos no específicos </span>

        </h2>

        <div>
            <jhi-no-content *ngIf="nonSpecificPains?.length === 0" [text]="'No hay dolores agudos no específicos registrados'"
                            [icon]="'sentiment_very_dissatisfied'"></jhi-no-content>
            <div class="table-responsive" *ngIf="nonSpecificPains?.length > 0">
                <table class="table table-bordered tableMaterialDesign" aria-describedby="page-heading">
                    <thead class="bold" style="background-color: #fafafa;">
                    <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">

                        <th scope="col" jhiSortBy="description"><span>Descripción</span>
                            <fa-icon [icon]="'sort'"></fa-icon>
                        </th>
                        <th scope="col" jhiSortBy="code"><span>Código</span>
                            <fa-icon [icon]="'sort'"></fa-icon>
                        </th>
                        <th scope="col" class="text-center">Opciones</th>
                    </tr>
                    </thead>
                    <tbody infinite-scroll (scrolled)="loadPage(page + 1)"
                           [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                    <tr *ngFor="let nonSpecificPain of nonSpecificPains ;trackBy: trackId">

                        <td>{{nonSpecificPain.description}}</td>
                        <td>{{nonSpecificPain.code}}</td>
                        <td>

                            <div fxLayoutAlign="center center">

                                <button mat-icon-button [matMenuTriggerFor]="beforeMenu" fxLayoutAlign="center center">
                                    <mat-icon aria-hidden="false" class="text-icon big-icon">more_vert</mat-icon>
                                </button>

                                <mat-menu #beforeMenu="matMenu" xPosition="before">
                                    <button mat-menu-item
                                            [routerLink]="['/non-specific-pain', nonSpecificPain.id, 'edit']">
                                        <mat-icon>create</mat-icon>
                                        <span jhiTranslate="entity.action.edit">Editar</span>
                                    </button>
                                    <button (click)="delete(nonSpecificPain)" mat-menu-item id="logout">
                                        <mat-icon>delete</mat-icon>
                                        <span jhiTranslate="entity.action.delete">Eliminar</span>
                                    </button>
                                </mat-menu>

                            </div>
                        </td>

                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </mat-tab>

</mat-tab-group>

<button [routerLink]="['/non-specific-pain/new']" mat-fab class="md-fab-bottom-right"
        matTooltip="Registrar dolor agudo no específico"
        [matTooltipPosition]="'before'">
    <mat-icon aria-hidden="false" aria-label="Example home icon">add</mat-icon>
</button>
