<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-app-user-heading" jhiTranslate="rehabicorApp.appUser.home.createOrEditLabel">Create or edit a App User</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!appUser.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="appUser.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="rehabicorApp.appUser.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="appUser.name" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="rehabicorApp.appUser.lastName" for="field_lastName">Last Name</label>
                    <input type="text" class="form-control" name="lastName" id="field_lastName"
                        [(ngModel)]="appUser.lastName" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="rehabicorApp.appUser.authorityType" for="field_authorityType">Authority Type</label>
                    <input type="number" class="form-control" name="authorityType" id="field_authorityType"
                        [(ngModel)]="appUser.authorityType" required/>
                    <div [hidden]="!(editForm.controls.authorityType?.dirty && editForm.controls.authorityType?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.authorityType?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.authorityType?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="rehabicorApp.appUser.status" for="field_status">Status</label>
                    <input type="number" class="form-control" name="status" id="field_status"
                        [(ngModel)]="appUser.status" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="rehabicorApp.appUser.user" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="user" [(ngModel)]="appUser.userId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="rehabicorApp.appUser.rehabilitationCenter" for="field_rehabilitationCenter">Rehabilitation Center</label>
                    <select class="form-control" id="field_rehabilitationCenter" name="rehabilitationCenter" [(ngModel)]="appUser.rehabilitationCenterId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="rehabilitationCenterOption.id" *ngFor="let rehabilitationCenterOption of rehabilitationcenters; trackBy: trackRehabilitationCenterById">{{rehabilitationCenterOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
