<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="comorbiditiesPatient">
            <h2><span jhiTranslate="rehabicorApp.comorbiditiesPatient.detail.title">Comorbidities Patient</span> {{comorbiditiesPatient.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="rehabicorApp.comorbiditiesPatient.description">Description</span></dt>
                <dd>
                    <span>{{comorbiditiesPatient.description}}</span>
                </dd>
                <dt><span jhiTranslate="rehabicorApp.comorbiditiesPatient.exist">Exist</span></dt>
                <dd>
                    <span>{{comorbiditiesPatient.exist}}</span>
                </dd>
                <dt><span jhiTranslate="rehabicorApp.comorbiditiesPatient.comorbiditieRelation">Comorbiditie Relation</span></dt>
                <dd>
                    <span>{{comorbiditiesPatient.comorbiditieRelation}}</span>
                </dd>
                <dt><span jhiTranslate="rehabicorApp.comorbiditiesPatient.initialAssessment">Initial Assessment</span></dt>
                <dd>
                    <div *ngIf="comorbiditiesPatient.initialAssessmentId">
                        <a [routerLink]="['/initial-assessment', comorbiditiesPatient.initialAssessmentId, 'view']">{{comorbiditiesPatient.initialAssessmentId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/comorbidities-patient', comorbiditiesPatient.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
