<div>
    <h2 id="page-heading">
        <span jhiTranslate="rehabicorApp.comorbiditiesPatient.home.title">Comorbidities Patients</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-comorbidities-patient" [routerLink]="['/comorbidities-patient/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="rehabicorApp.comorbiditiesPatient.home.createLabel">
            Create new Comorbidities Patient
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="comorbiditiesPatients">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="description"><span jhiTranslate="rehabicorApp.comorbiditiesPatient.description">Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="exist"><span jhiTranslate="rehabicorApp.comorbiditiesPatient.exist">Exist</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="comorbiditieRelation"><span jhiTranslate="rehabicorApp.comorbiditiesPatient.comorbiditieRelation">Comorbiditie Relation</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="initialAssessmentId"><span jhiTranslate="rehabicorApp.comorbiditiesPatient.initialAssessment">Initial Assessment</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let comorbiditiesPatient of comorbiditiesPatients ;trackBy: trackId">
                <td><a [routerLink]="['/comorbidities-patient', comorbiditiesPatient.id, 'view' ]">{{comorbiditiesPatient.id}}</a></td>
                <td>{{comorbiditiesPatient.description}}</td>
                <td>{{comorbiditiesPatient.exist}}</td>
                <td>{{comorbiditiesPatient.comorbiditieRelation}}</td>
                <td>
                    <div *ngIf="comorbiditiesPatient.initialAssessmentId">
                        <a [routerLink]="['../initial-assessment', comorbiditiesPatient.initialAssessmentId , 'view' ]" >{{comorbiditiesPatient.initialAssessmentId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/comorbidities-patient', comorbiditiesPatient.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/comorbidities-patient', comorbiditiesPatient.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'comorbidities-patient', { outlets: { popup: comorbiditiesPatient.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
