<div flex fxLayout="row" style="height: 100vh;">
    <div fxFlex="50" fxFlex.xs="100" layout-align="center" style="padding: 70px;">
        <form *ngIf="!reseting" class="no-outline" role="form" (ngSubmit)="login()" [formGroup]="loginForm"
              fxLayout="column">
            <h5 class="text-center">
                <img
                     src="../../../content/images/logo-nombre1.png"
                     height="250" width="250">
            </h5>
            <!--            <mat-form-field class="no-outline">-->
            <!--                <input matInput type="text" class="form-control no-outline" name="username" id="username" placeholder="Nombre de usuario"-->
            <!--                       formControlName="username">-->
            <!--            </mat-form-field>-->
            <mat-form-field appearance="outline">
                <mat-label>Nombre de usuario</mat-label>
                <input matInput type="text" name="username" id="username" formControlName="username">
                <mat-icon matSuffix>account_circle</mat-icon>

            </mat-form-field>
            <mat-form-field appearance="outline" class="margin-top-10">
                <mat-label>Contraseña</mat-label>
                <input matInput type="password" name="password" id="password" formControlName="password">
                <mat-icon matSuffix>lock</mat-icon>

            </mat-form-field>
            <!--            <mat-form-field >-->
            <!--                <input matInput type="password" class="form-control" name="password" id="password" placeholder="Contraseña"-->
            <!--                       formControlName="password">-->
            <!--            </mat-form-field>-->
            <!--            <div class="form-check">-->
            <!--                <label class="form-check-label" for="rememberMe">-->
            <!--                    <input class="form-check-input" type="checkbox" name="rememberMe" id="rememberMe"-->
            <!--                           formControlName="rememberMe">-->
            <!--                    <span  class="font-size-16" jhiTranslate="login.form.rememberme">Remember me</span>-->
            <!--                </label>-->
            <!--            </div>-->
            <div class="text-center">
                <a style="color:#b71c1c;font-weight: bold;" (click)="requestResetPassword()" jhiTranslate="login.password.forgot">Did you forget your
                    password?</a>
            </div>
            <button type="submit" mat-raised-button color="primary" class="margin-top-30 font-size-18" jhiTranslate="login.form.button">
                Sign in
            </button>
        </form>
        <div *ngIf="reseting" fxLayout="column">
            <h1 jhiTranslate="reset.request.title">Reset your password</h1>
            <div class="alert alert-danger" jhiTranslate="reset.request.messages.notfound" *ngIf="errorEmailNotExists">
                <strong>Email address isn't registered!</strong> Please check and try again.
            </div>
            <div class="alert alert-warning" *ngIf="!success">
                <p jhiTranslate="reset.request.messages.info">Enter the email address you used to register.</p>
            </div>
            <div class="alert alert-success" *ngIf="success === 'OK'">
                <p jhiTranslate="reset.request.messages.success">Check your emails for details on how to reset your
                    password.</p>
                <button mat-raised-button color="accent" (click)="reseting=false">
                    <span>Inicio de sesión</span>
                </button>
            </div>
            <form *ngIf="!success" fxLayout="column" name="form" role="form" (ngSubmit)="requestReset()"
                  [formGroup]="resetRequestForm">
                <mat-form-field appearance="outline">
                    <mat-label jhiTranslate="global.form.email.label">Email</mat-label>
                    <input matInput type="email"  id="email" name="email"
                           placeholder="{{'global.form.email.placeholder' | translate}}"
                           formControlName="email">
                    <mat-hint
                        *ngIf="resetRequestForm.get('email').invalid && (resetRequestForm.get('email').dirty || resetRequestForm.get('email').touched)"
                        class="form-text text-danger">
                    <span *ngIf="resetRequestForm.get('email').errors.required"
                          jhiTranslate="entity.validation.required">
                        This field is required.
                    </span>
                        <span *ngIf="resetRequestForm.get('email').errors.email"
                              jhiTranslate="global.messages.validate.email.invalid">
                                                    Your email is invalid.
                    </span>
                        <span *ngIf="resetRequestForm.get('email').errors.minlength"
                              jhiTranslate="global.messages.validate.email.minlength">
                            Your email is required to be at least 5 characters.
                    </span>
                        <span *ngIf="resetRequestForm.get('email').errors.maxlength"
                              jhiTranslate="global.messages.validate.email.maxlength">
                            Your email cannot be longer than 100 characters.
                    </span>
                    </mat-hint>
                </mat-form-field>
                <div fxLayout="row">
                    <button mat-button (click)="reseting=false">
                        <span jhiTranslate="entity.action.cancel">Cancel</span>
                    </button>
                    <button mat-raised-button color="accent" type="submit" [disabled]="resetRequestForm.invalid">
                        <span>Restablecer contraseña</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div fxFlex="50" flex-xs="0" fxHide.xs="true" style="background-image: url(content/images/login2.jpg) ;
        background-size: cover;
        background-position-x: center;">
    </div>

</div>



